
<h3>Detalles de mi perfil</h3>

<form name="form" class="css-form" novalidate>

    <div ng-show="form.name.$touched">
        <span ng-show="form.name.$error.required">Completa el nombre.</span>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input placeholder="Nombre" type="text" name="name"
                   class="form-control" ng-model="path" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input placeholder="email" type="email"
                   name="email" class="form-control" ng-model="user.email" required>
        </div>
    </div>

</form>
<button ng-click="test()">Test!</button>
<input placeholder="test" type="text"
       name="path" class="form-control" ng-model="userData.path" required>
{{userData.path}}
